# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# test.properties contains sensitive information (like usernames and passwords) and should not be checked in to version control
test.properties

